
body{
    background-image: url('../images/play2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav
{
    z-index: 4;
}

.navbar
{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.fix
{
    position: absolute;
}

.navbar-brand
{
    margin-left: 2rem;
    font-size: 2.5rem;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* form-styles */

.login-form-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    visibility: hidden;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
}

.registration-form-container {
top: 0;
left: 0;
position: fixed;
width: 100%;
height: 100%;
z-index: 5;
visibility: hidden;
background-color: rgb(0, 0, 0, 0.5);
backdrop-filter: blur(1.5px);
}

.form-div {
padding: 5% 10%;
background-color: black;
margin-left: auto;
margin-right: auto;
margin-top: 4rem;
width: 70%;
color: rgb(211, 203, 203);
border-radius: 1%;
position: relative;
}

.form-heading {
color: red;
}

.cancel-btn,
.change-btn,
.submit-btn {
width: 5rem;
margin-top: 1rem;
margin-right: 0.5rem;
}

.social-btn {
margin-left: 0;
margin-top: 1rem;
padding: 0 16px;
}

.msg {
color: red;
}

/* footer */

.touch {
padding: 7% 15% 0 15%;
background-color: black;
}

h3 {
color: white;
margin-bottom: 5%;
text-align: center;
}

.contact-us-btn {
display: block;
margin: auto;
margin-top: 5%;
}

.touch .container-fluid {
text-align: center;
padding: 3%;
}

.footer-icon {
margin: 3% 5%;
color: #414141;
}

.footer-icon:hover {
color: white;
transform: scale(1.2);
}

.col-lg-4 {
padding: 10px;
margin: 0;
}

.col-lg-12 {
padding: 10px;
}

#about-us-link {
color: grey;
}

#about-us-link:hover {
color: white;
}

.dropdown-item:hover {
color: white;
background-color: black;
}

.dropdown-divider {
border-color: #252525;
color: #252525;
}

.dark {
background-color: black;
border-color: #252525;
border-width: 1px;
}

#sign-in-button {
margin-left: 1rem;
}

.fas {
cursor: pointer;
}

.small-screen {
display: none;
}

@media only screen and (max-width: 1000px) {
.small-screen {
    display: inline;
    margin-left: 2rem;
}
}

.form-inline .form-control {
display: inline-block;
width: auto;
vertical-align: middle;
}
