*
{
    margin :0;
    padding : 0;
    box-sizing : border-box;
}

body{
    background-image: url('../images/login.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container
{   
    /* height: 40%; */
    margin : 5% auto 10%;
    width : 1000px;
    max-width : 90%;
    border : black;
}

.container form
{
    width : 100%;
    height : 100%;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 4px;
    padding: 5% 10%;
}

.container form h2
{
    text-align: center;
    margin-bottom: 24px;
    color : white;
}

.container form .form-control
{
    width : 100%;
    height: 40px;
    background : white;
    border-radius: 4px;
    border : 2px solid lightblue;
    margin : 10px 0 15px 0;
    text-align: center;
}

.container label{
    color: white;
}

form .btn{
    margin: 5% 0;
    margin-left: 33%;
    width: 33%;
}