{% extends 'base.html' %}

{%load static%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/fundraiser.css' %}">
{% endblock %}

{% block content %}
<section id="form">
    <div class="container">
        <form action="don" class="card" method="POST">
            <h2>Monthly Donation Form</h2><br>
            {% csrf_token %}
            <div class="form-group col-md-12">
                <label for="name">Full Name</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Enter full name">
            </div>
            <div class="form-group col-md-12">
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group col-md-12">
                <label for="address">Address</label>
                <input class="form-control" type="text" id="Address" name="address" placeholder="Enter address">
            </div>

            <div class="row">
                <div class="form-group col-md-6 left">
                    <label for="mobile">Mobile no.</label>
                    <input class="form-control" type="text" id="mobile" name="phn" placeholder="Enter mobile no.">
                </div>
                <div class="form-group col-md-6 left">
                    <label for="profession">Profession</label>
                    <input class="form-control" name="pro" type="text" id="profession"
                        placeholder="Enter your Profession">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 left">
                    <label for="city">City</label>
                    <input class="form-control" name="city" type="text" id="city" placeholder="Enter your city">
                </div>
                <div class="form-group col-md-4 left">
                    <label for="mobile">State</label>
                    <input class="form-control" name="state" type="text" id="state" placeholder="Enter your state">
                </div>
                <div class="form-group col-md-4 left">
                    <label for="zip">zip</label>
                    <input class="form-control" name="zp" type="text" id="zip" placeholder="Enter your zip">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="mobile">I would like my donation applied towards* :</label>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="mobile">In where would you like to organise events?</label>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">XYZ</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <button class="btn btn-outline-light btn-lg">Donate</button>
            </div>
            <br><br>
            <div class="form-group col-sm-12">
                <p>These days, we are witnessing an enormous increase in orphanages and old age homes in our society. Both emotional and financial support are required to these people to live their life with happiness and peace. There are only few reliable NGOs that provides assistance to orphanages and old age homes. Financial assistance can help the owners of NGOs to run these organizations with necessary resources and fulfilling the basic necessities of people in the old age homes and orphanages.

                </p>
            </div>
        </form>
    </div>
</section>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}