{% include 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock css %}

{% block content %}
<section id="search">
  <div class="row">
    <div class="col-sm-6">
      <form class="form-inline" action="search" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search by location/Organisation name"
          name="search_name">
        <select class="select-chat-user form-control" name="search_type">
          <option value="All">All</option>
          <option value="NGOs">NGOs</option>
          <option value="Orphanage">Orphanage</option>
          <option value="Old Age Homes">Old age homes</option>
        </select>
        <button class="btn btn-outline-light form-control" type="submit">Search</button><br>
      </form>
    </div>
  </div>
  <div class="results">
    <div class="row">
      {% for org in organisation %}
      <div class="col-6 col-md-4 col-lg-3 res">
        <div class="poster">
          <a href=""> <img src="{% static 'images/hand.jpg' %}" alt="poster"></a>
        </div>
        <div class="info">
          <a style="text-decoration: none;" href="{% url 'profile' org.slug %}">
            <h4 class="org-title">{{org.organisation_name}}</h4>
          </a>
          <p>{{org.category}} | {{org.city}} </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}